.body{
    width: 40vh;
    height: 10vh;
    display: flex;
    background-color:white;
    border-radius: 0.25rem;;
}
.apps{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50vh;
    height: 40vh;
    background-color:lightslategray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    scale: 1.1;
}